@import url('https://fonts.googleapis.com/css?family=Montserrat');

$borderBold: 3px solid #585858;;

body {
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    width: fit-content;
    margin-bottom: 1rem;
    font-size: 4rem;
}

table {
    border-collapse: collapse;

    //header styles and rotation
    td {
      text-align: center;
      width: 30px;
      padding: 10px 5px;
      border: 1px solid #ccc;
      &:hover {
          background-color: #ccc;
      }
    }

    th.rotate-header {
      height: 140px;
      white-space: nowrap;
      > div {
        transform: translate(25px, 51px) rotate(315deg);
        width: 30px;
      }
      > div > span {
        border-bottom: 1px solid #ccc;
        padding: 5px 10px;
      }
    }

    th.row-header {
      padding: 5px 10px 5px;
      border-bottom: 1px solid #ccc;
      border-right: $borderBold;
    }

    //table bold bordering
    tr:first-of-type td {
        border-top: $borderBold;
    }

    tr td:last-child, tr td:nth-child(7) {
        border-right: $borderBold;
    }

    tr:nth-child(6) td, tr:last-of-type td {
        border-bottom: $borderBold;
    }
  }